APP_NAME="Shopcart"
APP_ENV=production
APP_DEBUG=false
APP_KEY=
APP_TIMEZONE=UTC
APP_URL=http://EC2_PUBLIC_IP

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

DB_CONNECTION=mariadb
DB_HOST=YOUR_RDS_ENDPOINT
DB_PORT=3306
DB_DATABASE=shopcart
DB_USERNAME=admin
DB_PASSWORD=YOUR_RDS_PASSWORD

SESSION_DRIVER=file
SESSION_LIFETIME=120
CACHE_DRIVER=file

DEMO_SQLI_MODE=true